@import "../../../../styles/global.scss";

.ApartamentType {
    font-size: $fontSize20px;
    line-height: $lineHeight26px;
    font-family: $helveticaNeue;
    margin-bottom: 0.75rem;
    width: 31.5rem;
    }