@import "../../../../styles/global.scss";
.MobileButton {
    margin-top: 1rem;
    margin-right: 5%;
    width: 14rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding:1rem 0;
    background-color: #4D94E8;
    border-radius: 5rem;
    transition: padding 0.4s ease-in-out;
    align-self: flex-end;

    #ButtonText {
        margin: 0;
        font-size: $fontSize19px;
        font-family: $helvetica;
        color: $white;  
        font-weight: $font-Weight-bold;
        margin-right: 1rem;
    }
}