@import '../../../styles/global.scss';
@import '../../../styles/mixins';
.MyBookingContainer{
    border: 3px solid $lightGreen;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
    border-radius: 1rem;
    display: flex;
    min-height: 22rem;
    margin-bottom: 3rem;
    @include respond(mobile){
        flex-direction: column;
    }
    .MyBookingFlatImg{
        flex: 0 0 23%;
        margin-left: -.1px;
        margin-bottom: -.9px;
        @include respond(mobile){
            height: 50vw!important;
            flex: none;
            margin-top: -.1rem;
        }
    }
    .MyBookingInfoContainer{
        padding: 2.8rem 5rem 2.8rem 3rem;
        flex: 1;
        position: relative;
        @include respond(mobile){
            padding: 1.5rem 1.7rem;
        }
        .Row{
            display: flex;
            justify-content: space-between;
            @include respond(mobile){
                flex-direction: column;
            }
            .ApartamentInfo {
                flex: 0 0 40%;
                @include respond(mobile){
                    flex:none;
                }
            }
            .BookingInfo {
                flex: 0 0 40%;
                @include respond(mobile){
                    flex:none;
                }
            }
            .AboutPlaceContainer {
                flex: 0 0 52%;
                border-top: 1px solid $disableBtn;
                border-bottom:  1px solid $disableBtn;
                padding: 2rem 0 1.7rem 0;
                margin: 1rem 0 6rem 0;
                @include respond(mobile){
                    border-bottom: none;
                    margin-bottom: 1rem;
                }
            }
            .InformationWithIconsContainer{
                flex: 0 0 43%;
                border-top: 1px solid $disableBtn;
                margin-top: 1rem;
                padding-left: 3.2rem;
                @include respond(mobile){
                    order: -1;
                    padding:2rem 0 0 0;
                }
            }
            .MyBookingBoxesContainer{
                display: flex;
                font-size: $fontSize20px;
                font-family: $helveticaNeue;
                color: $black2;
                padding-top: 3rem;
                @include respond(mobile){
                    padding-top: 0;
                    font-size: $fontSize17px;
                    flex-direction: column;
                }
                .Separator{
                    width: 1px;
                    height: 9.3rem;
                    background-color: $disableBtn;
                    margin: 0 3.7rem;
                    align-self: center;
                    @include respond(mobile){
                        display: none;
                    }
                }
                .MyBookingInfoBox {
                    text-align: center;
                    width: 15.2rem;
                    @include respond(mobile){
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin-bottom: 1.5rem;
                        text-align: left;
                    }
                    img{
                        margin-bottom: 1.7rem;
                        @include respond(mobile){
                            width: 3.5rem;
                            height: 3.5rem;
                            margin: 0 2rem 0 0;
                        }
                    }
                    p {
                        line-height: $lineHeight26px;
                        @include respond(mobile){
                            line-height: $lineHeight22px;
                        }
                    }
                    .Bold{
                        font-weight: $font-Weight-bold;
                    }
                }
            }   
        }      
        .FlatBtnsContainer{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            bottom: 2.8rem;
            @include respond(mobile){
                position: inherit;
                bottom: inherit;
                flex-direction: column;
                width: 100%!important;
            }
            .Close{
                margin-right: 3rem;
                font-size: $fontSize20px;
                cursor: pointer;
                @include respond(mobile){
                    margin-right:0;
                    font-size: $fontSize17px;
                }
            }
        }   
    }
}