@import "../../styles/global.scss";

.badge {
    font-size: $fontSize21px;
    font-weight: $font-Weight-bold;
    line-height: $lineHeight35px;
    border-radius: 2.2rem;
    width: 6.4rem;
    text-align: center;
    font-family: $roboto;
    margin-bottom: 0.69rem;
    position: relative;
    cursor: context-menu;
}
.badge5 {
     &:hover:after{
        content: attr(data-title);
        font-size: $fontSize19px;
        font-family: $helvetica;
        color: $blackGrey;
        line-height: $lineHeight27px;
        font-weight: $font-Weight-regular;
        position: absolute;
        background-color: White;
        border-radius: 1.9rem;
        top: -5.2rem;
        right: -6.4rem;
        width: max-content;
        padding:0.78rem 1.4rem ;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover:before {
        content:'';
        width: 1.7rem;
        height: 1.7rem;
        background-color: $white;
        position: absolute;
        top: -1.9rem;
        right: 2.7rem;
        transform: rotate(45deg);
        z-index: 1;
    }
}
.badge20 {
     &:hover:after{
        content: attr(data-title);
        font-size: $fontSize19px;
        font-family: $helvetica;
        color: $blackGrey;
        line-height: $lineHeight27px;
        font-weight: $font-Weight-regular;
        position: absolute;
        background-color: White;
        border-radius: 1.9rem;
        top: -5.2rem;
        right: -10.4rem;
        width: max-content;
        padding:0.78rem 1.4rem ;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover:before {
        content:'';
        width: 1.7rem;
        height: 1.7rem;
        background-color: $white;
        position: absolute;
        top: -1.9rem;
        right: 2.7rem;
        transform: rotate(45deg);
        z-index: 1;
    }
}
.white {
    background-color: white;
    color: $black2;
}
.orange {
    background-color: $orange;
    color: $black2;
}
.blue {
    border: 1px solid $lightBlue;
    color: $lightBlue;
}
.red {
    background-color: $red;
    color: $white;
}
.green {
    color: $white;
    background-color: $lightGreen;
}