@import "./styles/global.scss";
@import "./styles/mixins";
.App {
  // background-color: $lightGrey;
 max-width: 192rem;
 margin: 0 auto;
  .contentBox {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    @include respond(mobile){
      flex-direction: column;
      margin-top: 7rem;
    }
  }
  .Locks {
    display: block;
    h1 {
      font-size: 35px;
    }
  }
}
