@import '../../../../styles/global.scss';
.Area {
    display: block;
    font-size: $mediumFontSize;
    color: $black2;
    font-weight: $font-Weight-bold;
    line-height: $lineHeight28px;
    margin-bottom: .5rem;
    font-family: $helveticaNeue;
}