@import "../../../styles/global.scss";
@import "../../../styles/mixins";
.SearchBoxs {
  position: relative;
  display: flex;
  margin-left: 3.52rem;
  background-color: rgba(235, 237, 237, 0.8);
  padding:1.5rem 9.78rem 1.5rem 4.41rem;
  border-radius: 5.5rem;
  @include respond (mobile){
    background-color: $white;
    font-size: $smallerMediumFont;
    font-weight: $font-Weight-bold;
    color: $fontColor;
    line-height: $lineHeight36px;
    font-family: $helvetica;
    padding:.8rem 5.5rem .8rem 1.4rem;
    margin-left: .74rem;
    margin-bottom: 1rem;
  }
  .Date {
    padding-right: 3.52rem;
    border-right: 0.1rem solid #CBD0D3;
    @include respond(mobile){
      padding-right: 1.68rem;
    }
  }
  .Guests {
    padding-left: 3.52rem;
    @include respond(mobile){
      padding-left: 1.1rem;
      padding-right: 0;
    }
    }
  .SearchButton {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: #4D94E8;
    padding: 2.07rem;
    border-radius: 50%;
    @include respond(mobile){
      right: .74rem;
      top: .7rem;
      padding: 1rem;
    }
    img{
      display: block;
      @include respond(mobile){
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}