@import "../../styles/global.scss";
.Login {
  button {
    margin: 0 1rem;
    top: 1.2rem;
    right: 5.5rem;
    text-align: center;
    color: white;
    max-width: 22rem;
    background-color: $lightBlue;
    border-radius: 1rem;
    min-width: 11.5rem;
    min-height: 3.5rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    font-style: $workSans;
    box-sizing: border-box;
    font-size: $smallFontSize;
    padding: 0.8em 2em;
    margin: 1rem 0;
    &:hover {
      background-color: $lightBlue;
    }
  }
}
