@import "../../../styles/global.scss";
@import "../../../styles/mixins";
.ToggleBtnContainer {
     cursor: pointer;
     text-decoration: underline;
     display: inline-block;
     margin-top: 2.3rem;
     @include respond(mobile){
         padding: 1.7rem;
         display: block;
         text-decoration: none;
         border: 1px solid $black;
         text-align: center;
         border-radius: .9rem;
     }
    .Show {
        display: block;
    }
    .Hide {
        display: none;
    }
    .ArrowDown {
        margin-left: .5rem;
        @include respond(mobile){
            display: none;
        }
    }
    .ArrowUp{
        transform: rotate(180deg);
        margin-left: .5rem;
        @include respond(mobile){
            display: none;
        }
    }
}