@import "../../styles/global.scss";
@import "../../styles/mixins";
.App {
  // background-color: $lightGrey;
    max-width: 192rem;
    margin: 0 auto;
    .MobileContentToTop{
        @include respond(mobile){
            margin-top: 0;
        }
    }
    // .MobileContent{
    //     @include respond(mobile){
    //         margin-top: 7rem;
    //     }
    // }
  .ContentBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    @include respond(mobile){
        flex-direction: column;
    }
  }
  .MapContainer{
    height: 96.4rem;
    background-color: lightgray;
    flex: 0 0 51.5%;
    text-align: center;
    margin-left: 1%;
    @include respond(mobile) {
      order: -1;
      flex: unset;
      height: 46rem;
      margin-left: 0;
    }
  }
  .Locks {
    display: block;
    h1 {
      font-size: 35px;
    }
  }
}
