@import "../../styles/global.scss";
@import "../../styles/mixins";
.App {
  // background-color: $lightGrey;
    max-width: 192rem;
    margin: 0 auto;
    .MobileContentToTop{
        @include respond(mobile){
            margin-top: 0;
        }
    }
    .MobileContent{
        @include respond(mobile){
            margin-top: 7rem;
        }
    }
  .ContentBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    @include respond(mobile){
        flex-direction: column;
        height: 40rem;
    }
  }
  .Locks {
    display: block;
    h1 {
      font-size: 35px;
    }
  }
}
