@import "../../styles/global.scss";
@import "../../styles/mixins";

.Navigation {
  background-color: $white;
  width: 100%;
  z-index: 102;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  .NavigationWrapper {
    max-width:  175.428rem;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding:0 3%;
    @include respond(mobile){
      padding: 1.35rem 2.2rem;
    }
    .Left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      @include respond(mobile){
        img{
          width: 15rem;
        }
      }
    }

    .Middle {
      display: flex;
      align-items: center;
      font-size: $fontSize20px;
      font-weight: $font-Weight-bold;
      color: $fontColor;
      line-height: $lineHeight36px;
      padding: 2.3rem 0 2.3rem 0;
      font-family: $helvetica;
      @include respond(mobile){
        display: none;
      }
    }

    .Right {
        display: flex;
        align-items: center;
          .MobileFavorite {
            display: none;
            padding: 1rem .8rem;
            background: black;
            border-radius: 50%;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
            background-color: $white;
            @include respond(mobile){
              display: flex;
              align-items: center;
            }
          }
        .Guide {
          display: flex;
          align-items: center;
          font-size: $fontSize20px;
          font-weight: $font-Weight-bold;
          color: $fontColor;
          font-family: $helvetica;
          line-height: $lineHeight20px;
          margin-right: 4.4rem;
          cursor: pointer;
          @include respond(mobile){
            display: none;
          }
          img {
            transform: rotate(-14deg);
            width: 2.8rem;
          }
        }
        // .Menu {
        //   display: none;
        //   position: relative;
        //   @media (max-width: 640px) {
        //     display: block;
        //     .Close {
        //       position: absolute;
        //       right: 15px;
        //       top: 15px;
        //       text-align: right;
        //       color: $lightGrey;
        //       font-size: 2rem;
        //       cursor: pointer;
        //     }
        //     .MobileLink {
        //       display: block;
        //       margin: 35px 30px 0px;
        //       color: $lightGrey;
        //       font-size: 2rem;
        //       text-decoration: none;
        //       &:first-child {
        //         margin-top: 50px;
        //       }
        //     }
        //   }
        // }
       .NavMenuBtn {
         position: relative;
         .Slider{
            width: 13rem;
            height: 6.4rem;
            background-color: $lightGrey2;
            position: relative;
            border-radius: 4rem;
            cursor: pointer;
            @include respond(mobile ){
              width: 8.5rem;
              height: 4.3rem;
            }
            .Burger {
              height: .3rem;
              position: absolute;
              background-color: $disableBtn;
              width: 2.5rem;
              left: 2.9rem;
              top: 3rem;
              @include respond(mobile ){
                width:1.8rem;
                height: .25rem;
                left: 1.5rem;
                top: 2.6rem;
              }
              &:before {
                content: '';
                height: .3rem;
                position: absolute;
                background-color: $disableBtn;
                width: 2.5rem;
                top: -.9rem;
                @include respond(mobile ){
                  width:1.8rem;
                  height: .25rem;
                  top: -.9rem;
                }
              }
              &:after {
                content: '';
                height: .3rem;
                position: absolute;
                background-color: $disableBtn;
                width: 2.5rem;
                top: .9rem;
                @include respond(mobile ){
                  display: none;
                }
              }
            }
            .SliderItem {
              position: absolute;
              width: 5rem;
              height: 5rem;
              border-radius: 50%;
              background-color: #C4C4C4;
              top: 0.7rem;
              right: 0.78rem;
              transform: translateX(0);
              transition: all 0.3s ease;
              @include respond(mobile ){
                width: 3.7rem;
                height: 3.7rem;
                top: 0.3rem;
                right: 0.5rem;
              }
              img{
                width: 100%;
              }
          }
          .SlideOpen{
            transform: translateX(-6.5rem); 
            @include respond(mobile ){
                transform: translateX(-3.7rem);
              }
          }
         }
         .MenuContainer {
           width: 25.1rem;
           background-color: $white;
           position: absolute;
           box-shadow: 0 0 1rem rgba(0, 0, 0, 0.29);
           top: 8rem;
           right: 0;
           border-radius: 1rem;
           padding: 2.8rem 5.3rem 2.8rem 1.2rem;
           @include respond(mobile){
              top:5rem;
              width: 15rem;
              padding: 1.8rem 3.3rem 1.8rem 1rem;

            }
           .HostHome{
             font-weight: $font-Weight-bold;
             border-top: 1px solid $disableBtn;
             border-bottom: 1px solid $disableBtn;
             padding: 1.8rem 0;
             margin: 1.8rem 0;
             @include respond(mobile){
              padding: 1rem 0;
              margin: 1rem 0;
            }
           }
           a{
             text-decoration: none;
             font-size: $fontSize22px;
             line-height: $lineHeight43px;
             color: $black2;
             display: block;
             font-family: $helvetica;
             margin-left: 2rem;
             @include respond(mobile){
              font-size: $mediumFontSize;
              line-height: $lineHeight34px;
              margin-left: 1rem;
             }
           }
         }
       }
        // .Register,
        // .Login{
        //   font-size: $smallerMediumFont;
        //   font-weight: $font-Weight-bold;
        //   font-family: $helvetica;
        //   line-height: $lineHeight20px;
    
        //   a {
        //     color: $fontColor;
        //     text-decoration: none;
        //     position: relative;

        //     .ProfilePicture {
        //       position: absolute;
        //       top: -4.4rem;
        //       right: 5%;
        //       width: 5.1rem;
        //       height: 5.1rem;
        //       border-radius: 50%;
        //     }
        //   }
          
        // }
        // .Register {
        //   background-color: #F6F8F9;
        //   padding: 1.3rem 2.25rem 1.48rem 2.55rem;
        //   border-radius: 2.2rem;
        //   margin-right: 2.7rem;
        // }

        
    }
  }
  
}
