@import "../../styles/global.scss";
@import "../../styles/mixins";

.Navigation {
  background-color: $white;
  width: 100%;
  z-index: 102;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  .NavigationWrapper {
    max-width:  175.428rem;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding:0 3%;
    @include respond(mobile){
      padding: 1.35rem 2.2rem;
    }
    .Left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      @include respond(mobile){
        img{
          width: 15rem;
        }
      }
    }

    .Middle {
      display: flex;
      align-items: center;
      font-size: $fontSize20px;
      font-weight: $font-Weight-bold;
      color: $fontColor;
      line-height: $lineHeight36px;
      padding: 2.3rem 0 2.3rem 0;
      font-family: $helvetica;
      @include respond(mobile){
        display: none;
      }
      .SearchBox {
        position: relative;
        display: flex;
        margin-left: 3.52rem;
        background-color: rgba(235, 237, 237, 0.8);
        padding:2rem 5.1rem 1.5rem 4.41rem;
        border-radius: 5.5rem;
        .Date {
         padding-right: 3.52rem;
         border-right: 0.1rem solid #CBD0D3;
        }
        .Guests {
          margin-left: 3.52rem;
          margin-right: 3rem;
         }
        .SearchButton {
          position: absolute;
          right: -2%;
          top: 0;
          cursor: pointer;
        }

        img {
          background-color: #4D94E8;
          padding: 2.2rem;
          border-radius: 50%;
        }
      }
    }

    .Right {
        display: flex;
        align-items: center;
        .Favorites {
          margin-right: 5.64rem;
          cursor: pointer;
          .MobileFavorite {
            display: none;
            padding: 1rem .8rem;
            background: black;
            border-radius: 50%;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
            background-color: $white;
            @include respond(mobile){
              display: flex;
              align-items: center;
            }
          }
          .PcFavorite {
            @include respond(mobile){
              display: none;
            }
          }
          
        }
        .Guide {
          display: flex;
          align-items: center;
          font-size: $fontSize20px;
          font-weight: $font-Weight-bold;
          color: $fontColor;
          font-family: $helvetica;
          line-height: $lineHeight20px;
          margin-right: 4.4rem;
          cursor: pointer;
          @include respond(mobile){
            display: none;
          }
          img {
            transform: rotate(-14deg);
            width: 2.8rem;
          }
        }
        // .Menu {
        //   display: none;
        //   position: relative;
        //   @media (max-width: 640px) {
        //     display: block;
        //     .Close {
        //       position: absolute;
        //       right: 15px;
        //       top: 15px;
        //       text-align: right;
        //       color: $lightGrey;
        //       font-size: 2rem;
        //       cursor: pointer;
        //     }
        //     .MobileLink {
        //       display: block;
        //       margin: 35px 30px 0px;
        //       color: $lightGrey;
        //       font-size: 2rem;
        //       text-decoration: none;
        //       &:first-child {
        //         margin-top: 50px;
        //       }
        //     }
        //   }
        // }
       .NavMenu {
         .Slider{
            width: 13rem;
            height: 6.4rem;
            background-color: $lightGrey2;
            position: relative;
            border-radius: 4rem;
            cursor: pointer;
            @include respond(mobile ){
              width: 8.5rem;
              height: 4.3rem;
            }
            .Burger {
              height: .3rem;
              position: absolute;
              background-color: $disableBtn;
              width: 2.5rem;
              left: 2.9rem;
              top: 3rem;
              @include respond(mobile ){
                width:1.8rem;
                height: .25rem;
                left: 1.5rem;
                top: 2.6rem;
              }
              &:before {
                content: '';
                height: .3rem;
                position: absolute;
                background-color: $disableBtn;
                width: 2.5rem;
                top: -.9rem;
                @include respond(mobile ){
                  width:1.8rem;
                  height: .25rem;
                  top: -.9rem;
                }
              }
              &:after {
                content: '';
                height: .3rem;
                position: absolute;
                background-color: $disableBtn;
                width: 2.5rem;
                top: .9rem;
                @include respond(mobile ){
                  display: none;
                }
              }
            }
            .SliderItem {
              position: absolute;
              width: 5rem;
              height: 5rem;
              border-radius: 50%;
              background-color: #C4C4C4;
              top: 0.7rem;
              right: 0.78rem;
              transform: translateX(0);
              transition: all 0.3s ease;
              @include respond(mobile ){
                width: 3.7rem;
                height: 3.7rem;
                top: 0.3rem;
                right: 0.5rem;
              }
              img{
                width: 100%;
              }
          }
          .SlideOpen{
            transform: translateX(-6.5rem); 
            @include respond(mobile ){
                transform: translateX(-3.7rem);
              }
          }
         }
       }
        // .Register,
        // .Login{
        //   font-size: $smallerMediumFont;
        //   font-weight: $font-Weight-bold;
        //   font-family: $helvetica;
        //   line-height: $lineHeight20px;
    
        //   a {
        //     color: $fontColor;
        //     text-decoration: none;
        //     position: relative;

        //     .ProfilePicture {
        //       position: absolute;
        //       top: -4.4rem;
        //       right: 5%;
        //       width: 5.1rem;
        //       height: 5.1rem;
        //       border-radius: 50%;
        //     }
        //   }
          
        // }
        // .Register {
        //   background-color: #F6F8F9;
        //   padding: 1.3rem 2.25rem 1.48rem 2.55rem;
        //   border-radius: 2.2rem;
        //   margin-right: 2.7rem;
        // }

        .Languages {
          font-size: $fontSize20px;
          font-weight: $font-Weight-bold;
          font-family: $helvetica;
          line-height: $lineHeight20px;
          margin-left: 2.86rem;
          cursor: pointer;
          @include respond(mobile){
            display: none;
          }
        }
      
    }
  }
  
}
