@import "../../styles/global.scss";

.Navigation {
  background-color: $white;
  width: 100%;
  z-index: 102;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  .NavigationWrapper {
    max-width:  175.428rem;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .Left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .Middle {
      display: flex;
      align-items: center;
      font-size: $fontSize20px;
      font-weight: $font-Weight-bold;
      color: $fontColor;
      line-height: $lineHeight36px;
      padding: 2.3rem 0 2.3rem 0;
      font-family: $helvetica;

      .SearchBox {
        position: relative;
        display: flex;
        margin-left: 3.52rem;
        background-color: rgba(235, 237, 237, 0.8);
        padding:2rem 5.1rem 1.5rem 4.41rem;
        border-radius: 5.5rem;
        .Date {
         padding-right: 3.52rem;
         border-right: 0.1rem solid #CBD0D3;
        }
        .Guests {
          margin-left: 3.52rem;
          margin-right: 3rem;
         }
        .SearchButton {
          position: absolute;
          right: -2%;
          top: 0;
          cursor: pointer;
        }

        img {
          background-color: #4D94E8;
          padding: 2.2rem;
          border-radius: 50%;
        }
      }
    }

    .Right {
        display: flex;
        align-items: center;
        .Favorites {
          margin-right: 5.64rem;
          cursor: pointer;
        }
        .Guide {
          display: flex;
          align-items: center;
          font-size: $fontSize20px;
      font-weight: $font-Weight-bold;
      color: $fontColor;
      font-family: $helvetica;
      line-height: $lineHeight20px;
      margin-right: 4.4rem;
      cursor: pointer;
      img {
        transform: rotate(-14deg);
      }
        }
        .Menu {
          display: none;
          position: relative;
          @media (max-width: 640px) {
            display: block;
            .Close {
              position: absolute;
              right: 15px;
              top: 15px;
              text-align: right;
              color: $lightGrey;
              font-size: 2rem;
              cursor: pointer;
            }
            .MobileLink {
              display: block;
              margin: 35px 30px 0px;
              color: $lightGrey;
              font-size: 2rem;
              text-decoration: none;
              &:first-child {
                margin-top: 50px;
              }
            }
          }
        }
       
        .Register,
        .Login{
          font-size: $smallerMediumFont;
          font-weight: $font-Weight-bold;
          font-family: $helvetica;
          line-height: $lineHeight20px;
    
          a {
            color: $fontColor;
            text-decoration: none;
            position: relative;

            .ProfilePicture {
              position: absolute;
              top: -260%;
              right: 5%;
              width: 5.1rem;
              height: 5.1rem;
              border-radius: 50%;
            }
          }
          
        }
        .Register {
          background-color: #F6F8F9;
          padding: 1.3rem 2.25rem 1.48rem 2.55rem;
          border-radius: 2.2rem;
          margin-right: 2.7rem;
        }

        .Languages {
          font-size: $fontSize20px;
          font-weight: $font-Weight-bold;
          font-family: $helvetica;
          line-height: $lineHeight20px;
          margin-left: 2.86rem;
          cursor: pointer;
        }
      
    }
    @media (max-width: 900px) {
      width: 95%;
    }
  }
}
