@import "../../../../styles/global.scss";

.DataPicker {
    margin: 0 auto 6.8rem auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: $fontSize20px;
    font-family: $helvetica;
    line-height: $lineHeight36px;
    color: $black;  
    font-weight: $font-Weight-bold;
    width: 23.6rem;
    border-radius: 3.9rem;
    position: relative;
    @media (max-width: 675px) {
        margin-bottom: 1.8rem;
        margin-top: 1.6rem;
        font-size: $fontSize19px;
        width: 21rem;
     }
    .Anytime {
        cursor: pointer;
    }
    .active {
        border-radius: 3.3rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }

    span {
        position: absolute;
        border-top: 0.3rem solid black;
        width:9rem;
        
    }
}