@import "../../../styles/global.scss";
@import "../../../styles/mixins";
.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    @include respond(mobile){
        width: 3.6rem;
        height: 3.6rem;
        img {
            width: 1.7rem;
        }
    }
    &:disabled img{
        opacity: 0.4;
    }
    &.FilterCounter {
        background-color: transparent;
        border: 1.5px solid $lightGrey4;
        &:disabled{
            background-color: transparent;
            border-color: $disableBtn;
            cursor: default;
        }
    }
    &.MainGuestCounter {
        background-color: $lightGrey2;
        border: none;
        &:disabled{
            background-color: transparent;
            border: 1.5px solid $disableBtn;
            cursor: default;
        }
    }
}