@import "../../../../styles/global.scss";
@import "../../../../styles/mixins";
.RatingsContainer{
    display:flex;
    align-items: center;
    font-size: $fontSize19px;
    margin-bottom: 1.7rem;
    @include respond(mobile){
        font-size: $fontSize18px;
    }
    .Ratings {
        display: flex;
        align-items: center;                               
        margin-right: 0.99rem;
        color:$black2;
        img {
            width: 2.1rem;
            height: 2.2rem;
            margin-right: 0.58rem;
        }
        span {
            line-height: $lineHeight29px;
            font-weight: $font-Weight-bold;
            margin-left: 0.58rem;
        }
    }
    .Reviews {
        color:$lightGrey4;
        line-height: $lineHeight26px;
        @include respond(mobile){
            font-size: $mediumFontSize;
            span {
                display: none;
            }
        }
    }
}