@import "../../styles/global.scss";
@import "../../styles/mixins";
.FlatInfo {
    font-family: $roboto;
    background-color: $lightBlue;
    color: $white;
    border-radius: 2.2rem;
    border:none;
    cursor: pointer;
    font-weight: $font-Weight-bold;
    font-size: $fontSize21px;
    line-height: $lineHeight35px;
    padding: .2rem 1.92rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
    @include respond(mobile) {
        display: none;
    }
    a{
        text-decoration: none;
        color: $white;
    }
}
.ClearFilter {
    font-size: $fontSize22px;
    font-weight: $font-Weight-bold;
    line-height: $lineHeight34px;
    font-family: $helvetica;
    color: $lightGrey4;
    border:none;
    background-color: transparent;
    cursor: pointer;
    padding: .6rem 2.38rem;
}
.SaveFilter {
    font-size: $fontSize22px;
    font-weight: $font-Weight-bold;
    line-height: $lineHeight34px;
    font-family: $helvetica;
    border:none;
    background-color: $black;
    color: $white;
    cursor: pointer;
    border-radius: 1.1rem;
    padding: .6rem 2.38rem;
}
.Show {
   visibility: visible;
    opacity: 1; 
}