@import "../../../../styles/global.scss";
@import "../../../../styles/mixins";
.Container {
    font-size: $fontSize22px;
    font-family: $helveticaNeue;
    line-height: $lineHeight26px;
    color: $black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.2rem;
    @include respond(mobile){
        margin-top: 0;
        font-size: $fontSize17px;
        line-height: $lineHeight19px;
    }
    .Items {
        margin-bottom: 3.2rem;
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        @include respond(mobile){
            margin-bottom: 1.6rem;
            flex: 0 0 19.6rem;
        }
         @include respond(mobileSmall){
            flex: 0 0 16rem;
        }
        .Beds {
            text-transform: capitalize;
            margin-right: .8rem;
            span {
                text-transform: lowercase;
            }
        }
        .ImgContainer {
            margin-right: 1.36rem;
            width: 3.2rem;
            @include respond(mobile){
                width: 2.2rem;
                margin-right: 1.28rem;
            }
            img{
                vertical-align: middle;
                @include respond(mobile){
                    width: 2.2rem;
                }
            }
            .Single {
                @include respond(mobile){
                    width: 1.6rem;
                }
            }
        }
    }
}