@import "../../../../styles/global.scss";
@import "../../../../styles/mixins";
.MainInformation {
    color: $lightGrey;
    font-size: $fontSize20px;
    line-height: $largeFontSize2;
    font-family: $helveticaNeue;
    margin-bottom: 1.14rem;
    @include respond(mobile){
        font-size: $fontSize17px;
        line-height: $lineHeight17px;
        margin-top: 0;
        margin-bottom: 2.2rem;
    }
}