@import "../../../../styles/global.scss";

.MainInformation {
    color: $lightGrey;
    font-size: $fontSize20px;
    line-height: $largeFontSize2;
    font-family: $helveticaNeue;
    margin-bottom: 1.14rem;
    margin-top:1.5rem;
}