@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
ul .Flat {
  flex: 0 0 48%;
  background-color: #FFFFFF;
  margin-bottom: 2rem;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  background-color: #FFFFFF;
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
  margin: 0 2.8rem 2.4rem 0;
}

ul .Flat:nth-child(2n+2) {
  margin-right: 0;
}

ul .Flat .FlatContent .InfoContainer {
  padding: 0 1.57rem 1.6rem 1.76rem;
  position: relative;
}

ul .Flat .FlatContent .InfoContainer .Info .RatingsContainer {
  display: flex;
  align-items: center;
  font-size: 1.9rem;
}

ul .Flat .FlatContent .InfoContainer .Info .RatingsContainer .Ratings {
  display: flex;
  align-items: center;
  margin-right: 0.99rem;
}

ul .Flat .FlatContent .InfoContainer .Info .RatingsContainer .Ratings img {
  width: 2.1rem;
  height: 2.2rem;
  margin-right: 0.58rem;
}

ul .Flat .FlatContent .InfoContainer .Info .RatingsContainer .Ratings span {
  line-height: 4.9rem;
  font-weight: bold;
}

ul .Flat .FlatContent .InfoContainer .Info .RatingsContainer .Reviews {
  color: #92979D;
  line-height: 2.7rem;
}

ul .Flat .FlatContent .InfoContainer .Info .ApartamentType {
  font-size: 2rem;
  line-height: 2.6rem;
  font-family: Helvetica Neue, Arial, sans-serif;
  margin-bottom: 0.75rem;
}

ul .Flat .FlatContent .InfoContainer .Info .AdditionalInfo {
  color: #909090;
  font-size: 2rem;
  line-height: 2.6rem;
  font-family: Helvetica Neue, Arial, sans-serif;
  margin-bottom: 1.14rem;
  margin-top: 1.5rem;
}

ul .Flat .FlatContent .InfoContainer .Info .PriceBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

ul .Flat .FlatContent .InfoContainer .Info .PriceBtnContainer .PriceContainer {
  display: flex;
  font-size: 1.9rem;
  margin-left: 0.14rem;
}

ul .Flat .FlatContent .InfoContainer .Info .PriceBtnContainer .PriceContainer .Price {
  margin-right: 1.93rem;
}

ul .Flat .FlatContent .InfoContainer .Info .PriceBtnContainer .PriceContainer .Price span {
  font-size: 2.7rem;
  font-weight: bold;
}

ul .Flat .FlatContent .InfoContainer .Info .PriceBtnContainer .PriceContainer .TotalPrice {
  line-height: 2.7rem;
  color: #92979D;
}

ul .Flat .FlatContent .FlatImg {
  width: 100%;
  position: relative;
}

ul .Flat .FlatContent .FlatImg .LikeContainer {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  z-index: 1;
  cursor: pointer;
}

ul .Flat .FlatContent .FlatImg .LikeContainer .LikeHover {
  display: none;
  width: 2.7rem;
  height: 2.1rem;
  padding: 0.3rem;
}

ul .Flat .FlatContent .FlatImg .LikeContainer .Like {
  width: 2.7rem;
  height: 2.1rem;
  padding: 0.3rem;
}

ul .Flat .FlatContent .FlatImg .LikeContainer:hover .Like {
  display: none;
}

ul .Flat .FlatContent .FlatImg .LikeContainer:hover .LikeHover {
  display: block;
}

ul .Flat .FlatContent .FlatImg .BadgeInImage {
  position: absolute;
  bottom: 1.21rem;
  right: 1.57rem;
  z-index: 1;
}

ul .Flat .FlatContent .FlatImg .BadgeInContent {
  position: absolute;
  margin-top: 1.35rem;
  right: 1.57rem;
  z-index: 1;
}
/*# sourceMappingURL=Flat.module.css.map */