@import "../../../../styles/global.scss";
@import "../../../../styles/mixins";
.PriceContainer {
    display: flex;
    align-items: baseline;
    font-size: $fontSize19px;
    margin-left: 0.14rem;
    @include respond(mobile){
        flex-direction: column;
        align-items: flex-end;
        font-size: $fontSize18px;
    }
    .Price{
        margin-right: 1.93rem;
        @include respond(mobile){
            margin-right: 0;
        }
        .Separator {
            font-weight: $font-Weight-regular;
            margin: 0 .7rem 0 .92rem;
        }
        span{
            font-size: $fontSize27px;
            font-weight: $font-Weight-bold;
            @include respond(mobile){
                font-size: $fontSize23px;
            }
        }     
    }
    .TotalPrice { 
        color: $lightGrey4;   
        @include respond(mobile){
            font-size: $mediumFontSize;
            margin-top: 0.3rem;
        }    
    }
}