@import "../../styles/global.scss";
@import "../../styles/mixins";
.FlatsContainer {
    font-family: $workSans;
    display: flex;
    flex-direction: column;
    &.FlatsContainerMain{
        flex: 0 0 44.7%;
        margin-left: 4.7rem;
        margin-top: 2.87rem;
        @include respond(mobile){
            margin:0;
            flex: 1 0 100%;
        }
    }
    &.FlatsContainerFavorite{
        flex: 1;
        margin: 2.87rem 5rem 0 6.6rem;
        @include respond(mobile){
            margin:0 2rem;
        }
    }
    h2 {
        font-size: $fontSize33px;
        font-weight: $font-Weight-bold;
        margin-bottom: 3rem;
        color: $black;
        font-family: $helveticaNeue;
        @include respond(mobile){
            font-size: $fontSize23px;
            scroll-margin-top: 8rem
        }
    }
    
    
    
}
