@import "../../../styles/global.scss";
@import "../../../styles/mixins";

.Price {
  margin-right: 1.93rem;
  @include respond(mobile) {
    margin-right: 1rem;
  }
  .Separator {
    font-size: inherit;
    font-weight: $font-Weight-regular;
  }
  span {
    font-size: $fontSize27px;
    font-weight: $font-Weight-bold;
    @include respond(mobile) {
      font-size: $fontSize23px;
    }
  }
}

//FlatInfo -> Apartment component
.BookingPrice {
  font-size: $fontSize21px;
  font-weight: $font-Weight-regular;
  color: $black;
  font-family: $helveticaNeue;
  margin-left: 0.9rem;
  span {
    font-size: $fontSize33px;
    font-weight: $font-Weight-bold;
    color: $black;
    font-family: $helveticaNeue;
    margin-left: 0.53rem;
    //Seperator
    &:last-child {
      font-size: $fontSize21px;
      font-weight: $font-Weight-regular;
      color: $black;
      font-family: $helveticaNeue;
      margin-left: 0.9rem;
    }
  }
}
