@import "../../../../styles/global.scss";
@import "../../../../styles/mixins";
.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #CBD0D3;
  padding-bottom: 6.6rem;
  margin-top: 9.5rem;
  @include respond(mobile){
      border: none;
      padding-bottom: 3rem;
      margin-top: 7rem;
  }
  .Slider {
    position: relative;
    width: 62.2rem;
    @include respond(mobile){
      width: 85%;
    }
    .SliderTrack,
    .SliderRange {
        position: absolute;
    }

    .SliderTrack,
    .SliderRange {
        border-radius: 3px;
        height: 0.3rem;
        
    }
    .SliderTrack {
        background-color: $lightGrey4;
        height: 0.2rem;
        width: 100%;
        z-index: 1;
        &:after{
            content: '';
            position: absolute;
            right: 0;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            top: -0.7rem;
            background-color: $lightGrey4;
            @include respond(mobile){
              width: 1.4rem;
              height: 1.4rem;
            }
        }
        &:before{
            content: '';
            position: absolute;
            left: 0;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            top: -0.7rem;
            background-color: $lightGrey4;
            @include respond(mobile){
              width: 1.4rem;
              height: 1.4rem;
            }
        }
    }
    %shared-slider-range-pseudo{
      position: absolute;
      top:-5.2rem;
      color: $black2;
      font-size: $fontSize22px;
      font-weight: $font-Weight-bold;
      font-family: $helveticaNeue;
      line-height: $largeFontSize2;
      width: 6.5rem;
      text-align: center;
       @include respond(mobile){
          font-size: $fontSize18px;
          line-height: $lineHeight21px;
          top: -4rem;
          width: 6rem;
        }
    }
    .SliderRange {
        background-color: $lightBlue;
        z-index: 2;
        width: 100%;
        right: 0;
        left: 0;
        margin-right: auto;
        &:after{
            content: attr(data-price-right);            
            right: -5.4rem;        
            @extend %shared-slider-range-pseudo;    
            @include respond(mobile){
              right: -3rem;
            }
        }
        &:before{
            content: attr(data-price-left);
            left: -1.4rem;
            @extend %shared-slider-range-pseudo;
            @include respond(mobile){
              left: -2.8rem;
            }
        }
    }
    }
       .RightValue {
            color: $grey;
            font-size: $fontSize22px;
            margin-top: -5.2rem;
            font-family: $helveticaNeue;
            line-height: $largeFontSize2;
            right: -3rem;
            position: absolute;
            width: 8rem;
            text-align: center;
            @include respond(mobile){
              font-size: $fontSize19px;
              line-height: $lineHeight22px;
              margin-top: -4.1rem;
            }
        }


/* Removing the default appearance */
.Label {
    position: absolute;
    left: 0;
}
.Thumb,
.Thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.Thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 62.2rem;
  outline: none;
  @include respond(mobile){
      width: 85%;
  }
}

.ThumbLeft {
  z-index: 3;
}

.ThumbRight {
  z-index: 4;
}

/* For Chrome browsers */
.Thumb::-webkit-slider-thumb {
  border : 3px solid $lightBlue;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
  @include respond(mobile){
    width: 3.5rem;
    height: 3.5rem;
  }
}

/* For Firefox browsers */
.Thumb::-moz-range-thumb {
    background-color: $white;
  border : 3px solid $lightBlue;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
  @include respond(mobile){
    width: 3.5rem;
    height: 3.5rem;
  }
}
}

