@import "../../styles/global.scss";

.Main {
    display: flex;
    min-height: 1080px;
    .Left {
        width: 50%;
        background-image: url('../../assets/images/MainPic.svg');
        background-repeat: no-repeat;
        img {
            margin-top: 4.05rem;
            margin-left: 6.4%;
        }
    }

    .Right {
        width: 50%;
        background-color: $orange;
        text-align: center;
        h1 {
            transition: all 0.4s ease-in-out;
            font-size: $fontSize64px;
            font-family: $helveticaNeue;
            line-height: $lineHeight80px;
            color: $black;
            font-weight: $font-Weight-medium;
            margin: 17.6rem 19.5rem 0 19.3rem;
        }

        p {
         
            margin: 14.3rem 0 7.3rem 0;
            font-size: $largeFontSize;
            font-family: $helveticaNeue;
            line-height: $lineHeight30px;
            color: $black;  
            font-weight: $font-Weight-medium;
        }

        .DataPicker {
            margin: 0 auto ;
            justify-content: space-between;
            display: flex;
            align-items: center;
            font-size: $fontSize19px;
            font-family: $helvetica;
            line-height: $lineHeight36px;
            color: $black;  
            font-weight: $font-Weight-bold;
            width: 33%;
            border-radius: 3.9rem;
            position: relative;
             .Anytime {
                padding-left: 3.93rem;
                cursor: pointer;
            }

            div:first-child{
                margin-right: 4rem;
            }

            

            .active {
                border-radius: 3.3rem;
               
                margin-right: 0.5rem;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                padding: 0.6rem 3.24rem 0.5rem 3.84rem;
                cursor: pointer;
            }

            span {
                position: absolute;
                border-top: 0.3rem solid black;
                width:9rem;
              
            }
        }

        .SearchBox {
            position: relative;
            display: flex;
            margin: 6.7rem 19rem 0 15.7rem;
            background-color: rgba(255, 255, 255, 0.85);
            border-radius: 5.5rem;
            box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
            font-size: $fontSize23px;
            font-family: $helvetica;
            line-height: $lineHeight36px;
            color: $black;  
            font-weight: $font-Weight-bold;
            transition: all 0.4s ease-in-out;
            .inActive {
                padding: 2rem 0rem;
                cursor: pointer;
                span {
                    font-size: $fontSize18px;
                    color: $blackGrey;
                    font-weight: $font-Weight-regular;
                 } 

                &:first-child {
                    padding-right: 4.86rem;
                    // border-right: 0.1rem solid #CBD0D3;
                    padding-left: 5.4rem;   
                  
                }
                &:nth-child(2) {
                    margin-left: 3rem;
                    padding-right: 5.2rem;
                    // border-right: 0.1rem solid #CBD0D3;
            
                }
                &:nth-child(3) {
                    margin-left: 2.68rem;
                }
            }

             .OnSearch {
                font-size: $fontSize19px;
                margin-left: 3rem;
                padding-right: 5.2rem;
                // border-right: 0.1rem solid #CBD0D3;
                line-height: 2rem;
                text-align: left;
                span {
                    font-size: $fontSize18px;
                    color: $blackGrey;
                    font-weight: $font-Weight-regular;
                   
                 }
             }
             .OnSearchGuest {
                font-size: $fontSize19px;
                margin-left: 3rem;
                padding-right: 5.2rem;
              
                line-height: 2rem;
                text-align: left;
                span {
                    font-size: $fontSize18px;
                    color: $blackGrey;
                    font-weight: $font-Weight-regular;
                 }
             }
            .SearchButton {
              position: absolute;
         
              top: 0;
              cursor: pointer;
              display: flex;
              padding: 1.8rem;
              background-color: #4D94E8;
              border-radius: 5rem;
              transition: padding 0.4s ease-in-out;
            }
            .SearchText {
                margin: 0;
                font-size: $fontSize19px;
                font-family: $helvetica;
                color: $white;  
                font-weight: $font-Weight-bold;
                margin-right: 1.57rem;
            }

            .Active{
                background-color: $white;
                box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
                border-radius: 5.5rem;
                padding: 2rem 0rem;
                &:first-child {
                    padding-right: 4.86rem;
                    padding-left: 5.4rem; 
                    transition: all 0.4s ease-in-out; 
                }
                &:nth-child(2) {
                    padding-right: 4.86rem;
                    padding-left: 2.935rem;  
                    border: none; 
                    transition: all 0.4s ease-in-out;
                }

                &:nth-child(3) {
                    
                    padding-right: 7.86rem;
                    padding-left: 3rem;  
                    border: none; 
                    transition: all 0.4s ease-in-out;
                }
                span {
                    font-size: $fontSize18px;
                    color: $blackGrey;
                    font-weight: $font-Weight-regular;
                 }
            }
           
          }

.GuestWrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 9.5rem;
    .GuestBox {
        background-color: $white;
        border-radius: 3.3rem;
        box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
        margin-top: 3.6rem;
        display: flex;
        flex-direction: column;
        width: 43%;
        padding: 4rem 4rem 2.8rem 4rem;
        .Upper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .DescriptionSide {
                text-align: left;
                        h1 {
                            font-size: $fontSize21px;
                            font-family: $helveticaNeue;
                            color: $black2;  
                            font-weight: $lineHeight21px;
                            margin: 0;
                            line-height: $lineHeight21px;
                        }
    
                        p{
                            font-size: $mediumFontSize;
                            font-family: $helvetica;
                            color: #BABABA;  
                            margin: 0;
                            line-height: $lineHeight36px;
                            font-weight: 400;
                        }
                    }
                    .Counting {
                       display: flex;
                       align-items: center;
                        .Number{
                            font-size: $fontSize21px;
                            font-family: $helveticaNeue;
                            color: $black2;  
                            font-weight: $lineHeight21px;
                            margin: 0 1.9rem;
                            line-height: $lineHeight21px;
                          
                        }
                        .Increment {
                            color: #9E9E9F;  
                            margin: 0;
                            padding:0.1rem 1rem;
                            border: 0.1rem solid #9E9E9F;
                            border-radius: 50%;
                            font-size: $titleSizeFont;
                            font-weight: $font-Weight-bold; 
                            cursor: pointer;
                        }
                        .Decrement {
                            color: #9E9E9F;  
                            margin: 0;
                            padding:0rem 1.3rem 0.4rem 1.3rem;
                            border: 0.1rem solid #9E9E9F;
                            border-radius: 50%;
                            font-size: $titleSizeFont;
                            font-weight: $font-Weight-bold;
                            cursor: pointer;
                        }
                    }
        }
        .Down {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 3.1rem;
           
            .DescriptionSide {
                text-align: left;
                        h1 {
                            font-size: $fontSize21px;
                            font-family: $helveticaNeue;
                            color: $black2;  
                            font-weight: $lineHeight21px;
                            margin: 0;
                            line-height: $lineHeight21px;
                        }
    
                        p{
                            font-size: $mediumFontSize;
                            font-family: $helvetica;
                            color: #BABABA;  
                            margin: 0;
                            line-height: $lineHeight36px;
                            font-weight: 400;
                        }
                    }
                    .Counting {
                       display: flex;
                       align-items: center;
                        .Number{
                            font-size: $fontSize21px;
                            font-family: $helveticaNeue;
                            color: $black2;  
                            font-weight: $lineHeight21px;
                            margin: 0 1.9rem;
                            line-height: $lineHeight21px;
                          
                        }
                        .Increment {
                            color: #9E9E9F;  
                            margin: 0;
                            padding:0.1rem 1rem;
                            border: 0.1rem solid #9E9E9F;
                            border-radius: 50%;
                            font-size: $titleSizeFont;
                            font-weight: $font-Weight-bold; 
                            cursor: pointer;
                        }
                        .Decrement {
                            color: #9E9E9F;  
                            margin: 0;
                            padding:0rem 1.3rem 0.4rem 1.3rem;
                            border: 0.1rem solid #9E9E9F;
                            border-radius: 50%;
                            font-size: $titleSizeFont;
                            font-weight: $font-Weight-bold;
                            cursor: pointer;
                        }
                    }
        }
    
      }
}
        .AnytimeContainer {
            width: 75%;
            margin: 12rem auto 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .month{
                flex: 0 0 auto;
                background-color: rgba(255, 255, 255, 0.4);
                width: 15.7rem;
                display: flex;
                flex-direction: column;
                border-radius: 3.3rem;
                align-items: center;
                padding: 3rem 0;
                margin-right: 1.5rem;
                cursor: pointer;
                margin-bottom: 1.5rem;
             

               
                
                .SelectedImg {
                    display: none;
                }

                span {
                    font-size: $fontSize22px;
                    font-family: $helveticaNeue;
                    color: $black2;  
                    font-weight: $font-Weight-medium;
                    line-height: $navLineHeight;
                }
            }

            .active {
                    
                    flex: 0 0 auto;
                    background-color: rgba(255, 255, 255, 1);
                    width: 15.7rem;
                    display: flex;
                    flex-direction: column;
                    border-radius: 3.3rem;
                    align-items: center;
                    padding: 3rem 0;
                    margin-right: 1.5rem;
                    cursor: pointer;
                    margin-bottom: 1.5rem;
                  

                    
                    .SelectedImg {
                        display: block;
                    }
                   
                   
                    span {
                        font-size: $fontSize22px;
                        font-family: $helveticaNeue;
                        color: $black2;  
                        font-weight: $font-Weight-medium;
                        line-height: $navLineHeight;
                    }
                }
            
        }
    
    }
}