@import "../../../../styles/global.scss";

.Content {
  padding: 0 76.92rem 0 9.96rem;
  box-sizing: border-box;
  position: relative;

  .Layer {
    // width: 100%;
    display: flex;
    justify-content: space-between;

    .Text {
      color: $black;
      font-size: $fontSize32px;
      font-weight: $font-Weight-bold;
      font-family: $helveticaNeue;
      line-height: $lineHeight26px;
      padding-bottom: 0.61rem;
    }
    .TextSmall {
      color: $black2;
      font-size: $fontSize20px;
      font-weight: $font-Weight-regular;
      font-family: $helveticaNeue;
      line-height: $lineHeight26px;
      padding-bottom: 3.02rem;
    }

    .BtnSaveShare {
      width: 9.1rem;
      height: 4.6rem;
      background-color: $white;
      color: $black2;
      font-size: $fontSize18px;
      font-weight: $font-Weight-bold;
      line-height: $lineHeight46px;
      border: none;
      text-decoration: solid underline $black2 0.2rem;
      text-underline-offset: 0.2rem;
      border-radius: 1.1rem;
      &:hover {
        cursor: pointer;
        background-color: $lightGrey5;
      }
    }
    .BtnSaveShare.active {
      width: 9.1rem;
      height: 4.6rem;
      color: $black2;
      font-size: $fontSize18px;
      font-weight: $font-Weight-bold;
      border: none;
      text-decoration: solid underline $black2 0.2rem;
      text-underline-offset: 0.2rem;
    }
  }

  .StarRating {
    padding-bottom: 2.49rem;
    border-bottom: 1px solid $lightGrey6;

    .RatingNumber {
      font-size: $fontSize26px;
      font-weight: $font-Weight-bold;
      color: $black2;
      font-family: $helveticaNeue;
      line-height: $lineHeight26px;
      margin: 0 0.97rem 0 0.77rem;
      text-align: center;
    }
    .Reviews {
      font-size: $fontSize18px;
      font-weight: $font-Weight-regular;
      color: $blackGrey;
      line-height: $lineHeight26px;
      font-family: $helveticaNeue;
      text-align: center;
    }
  }
  div {
    .Icons {
      box-sizing: border-box;
      padding-top: 4.51rem;
      display: flex;
      flex-wrap: wrap;
      div {
        width: 33.3%;
        display: flex;
        box-sizing: border-box;
        padding-left: 2.4rem;
        margin-bottom: 6.19rem;

        p {
          padding-left: 2.5rem;
          font-size: $fontSize22px;
          font-weight: $font-Weight-medium;
          color: $black;
        }
      }
    }
  }

  .AboutLayer {
    border-top: 1px solid $lightGrey6;
    border-bottom: 1px solid $lightGrey6;
    .AboutPlace {
      font-size: $fontSize30px;
      font-weight: $font-Weight-bold;
      color: black;
      font-family: $helveticaNeue;
      margin-top: 3.46rem;
    }
    .AboutDescription {
      font-size: $fontSize22px;
      font-weight: $font-Weight-regular;
      color: $black2;
      font-family: $helveticaNeue;
      margin-right: 22.64rem;
      margin-top: 2.7rem;
      line-height: 3.5rem;
      margin-bottom: 5.04rem;
    }
  }
  .BookingPurchaseForm {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 16rem;
    display: block;
    border-radius: 1rem;
    border: 1px solid $lightGrey6;
    height: 63.6rem;
    width: 50rem;
    box-shadow: 0 0.3rem 1rem $lightGrey6;
    .BookingLayer {
      margin: 3.8rem 3.32rem 3.65rem 3.3rem;
    }

    .BookingPrice {
      font-size: $fontSize33px;
      font-weight: $font-Weight-bold;
      color: $black;
      font-family: $helveticaNeue;
      margin-left: 0.53rem;
    }
    .BookingNights {
      font-size: $fontSize21px;
      font-weight: $font-Weight-regular;
      color: $black;
      font-family: $helveticaNeue;
      margin-left: 0.9rem;
    }
  }
}
.BookingLayerMargin {
  margin-bottom: 3.23rem;
}
