@import "../../../../styles/global.scss";

.Layer {
  box-sizing: border-box;
  margin: 0 76.92rem 0 9.96rem;
  border-bottom: 1px solid $lightGrey6;
  padding-bottom: 3rem;
  h1 {
    font-family: $helvetica;
    font-weight: $font-Weight-bold;
    font-size: $fontSize30px;
    padding-top: 4.3rem;
    padding-bottom: 5.1rem;
  }
  .Icons {
    box-sizing: border-box;
    display: flex;

    flex-wrap: wrap;
    div {
      width: 33.3%;
      display: flex;
      box-sizing: border-box;
      margin-bottom: 2.4rem;

      p {
        padding-left: 2.5rem;
        font-size: $fontSize21px;
        font-weight: $font-Weight-medium;
        color: $black;
      }
    }
  }
}
