@import '../../../../styles/global.scss';
@import '../../../../styles/mixins';
.MyBookingContainer{
    border: 3px solid $lightGreen;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
    border-radius: 1rem;
    margin-bottom: 3rem;
    display: flex;
    
    .MyBookingFlatImg{
        flex: 0 0 23%;
        margin-left: -.1px;
        margin-bottom: -.9px;
    }
    .MyBookingInfoContainer{
        padding: 1.2rem 5rem 2.8rem 3rem;
        flex: 1;
        position: relative;
        // min-height: 21rem;
        .Row{
            display: flex;
            justify-content: space-between;
            .ApartamentInfo {
                flex: 0 0 40%;
            }
            .BookingInfo {
                flex: 0 0 40%;
            }
            .AboutPlaceContainer {
                flex: 0 0 52%;
                border-top: 1px solid $disableBtn;
                border-bottom:  1px solid $disableBtn;
                padding: 2rem 0 1.7rem 0;
                margin: 1rem 0 6rem 0;
            }
            .InformationWithIconsContainer{
                flex: 0 0 43%;
                border-top: 1px solid $disableBtn;
                margin-top: 1rem;
                padding-left: 3.2rem;
            }
            .MyBookingBoxesContainer{
                display: flex;
                 flex: 0 0 38%;
                font-size: $fontSize20px;
                font-family: $helveticaNeue;
                color: $black2;
                padding-top: 3rem;
                .Separator{
                    width: 1px;
                    height: 9.3rem;
                    background-color: $disableBtn;
                    margin: 0 3.7rem;
                    align-self: center;
                }
                .MyBookingInfoBox {
                    text-align: center;
                    width: 15.2rem;
                    img{
                        margin-bottom: 1.7rem;
                    }
                    p {
                        line-height: $lineHeight26px;
                    }
                    .Bold{
                        font-weight: $font-Weight-bold;
                    }
                }
            }   
        }      
        .FlatBtnsContainer{
            position: absolute;
                display: flex;
                justify-content: space-between;
                width: 50rem;
                bottom: 2.8rem;
            }   
    }
}