@import '../../../styles/global.scss';
.MyBookingMobileContainer {
    font-family: $helvetica;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1.3rem 5%;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 90%;
    z-index: 2;
    .LeftSide {
        display: flex;
        align-items: center;
        img{
            height: 5.5rem;
            width: 5.5rem;
            border-radius: 1rem;
            object-fit: cover;
        }
        .MyBookingInfoContainer {
            margin-left: 1rem;
            .Title{
                font-size: $smallerMediumFont;
                color: $black;
                font-weight: $font-Weight-bold;
                margin-bottom: .5rem;
            }
            .BookingDate{
                font-size: $fontSize13px;
                color: $lightGrey;
            }
        }
    }
    .MyBookingBtnsContainer {
        display: flex;
        justify-content: space-between;
        flex: 0 0 11rem;
    }
}