.SecondaryNavContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 1.2rem auto 0 auto;
    width: 100%;
    flex-wrap: wrap;
    .BtnContainer {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a{
            margin-left: .8rem;
        }
    }
}