@import "../../../styles/global.scss";
@import "../../../styles/mixins";
.TopFooterContainer {
    display: flex;
    padding: 7.62rem 28rem 21.3rem 10.9rem;
    border-top: 1px solid #CBD0D3;
    font-size: $fontSize21px;
    justify-content: space-between;
    max-width: 175.428rem;
    margin: 0 auto;
    @include respond(mobile) {
        font-size: $fontSize17px;
        padding: .2rem 0 18rem 3.2rem;
        flex-direction: column;
    }
    .LinkBoxes{
        display: flex;
        flex-direction: column;
        max-width: 19.1rem;
        flex: 0 0 19%;
        &:first-child {
            margin-left: 0;
        }
        @include respond(mobile) {
            margin-top: 3rem;
        }
        p{
            font-weight: $font-Weight-bold;
            font-family: $helveticaNeue;
            line-height:$lineHeight25px ;
            margin-bottom: 3.3rem;
            text-transform: uppercase;
        }
        a{
            color: $black2;
            font-family: $helvetica;
            text-decoration: none;
            line-height: $lineHeight36px;
        }
    }
}