@import "../../../styles/global.scss";

    ul {
        .Flat {
            flex: 0 0 48.2%;
            background-color: $white;
            margin-bottom: 2rem;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, 0.125);
            background-color: $white;
            border-radius: 1rem;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
            margin: 0 2.8rem 2.38rem 0;
            &:nth-child(2n+2){
                margin-right: 0 ;
            }
            .FlatContent {
                .InfoContainer {
                    padding: 0 1.57rem 1.6rem 1.76rem;
                    position: relative;
                    .Info {
                        .PriceBtnContainer {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                        }
                    }
                }
                .FlatImg {
                    position: relative;
                    
                    .LikeContainer {
                        position: absolute;
                        right: 2.5rem;
                        top:2.5rem;
                        z-index: 1;
                        cursor: pointer;
                        .LikeHover {
                        display: none;
                        width: 2.7rem;
                        height: 2.1rem;
                        padding: 0.3rem;
                        }
                        .Like {
                        width: 2.7rem;
                        height: 2.1rem;
                        padding: 0.3rem;
                        }
                        &:hover .Like{
                        display: none;
                        }
                        &:hover .LikeHover{
                        display: block;
                        }
                    }
                    .BadgeInContent {
                        position: absolute;
                         margin-top: 1.35rem;
                         right:1.57rem ;
                         z-index: 1;
                    }
                }
            }
        }
    }