@import "../../../styles/global.scss";
@import "../../../styles/mixins";
    ul {
        .Flat {
            flex: 0 0 48.35%;
            background-color: $white;
            margin-bottom: 2rem;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, 0.125);
            background-color: $white;
            border-radius: 1rem;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
            margin: 0 3.3% 2.5% 0;
            @include respond(mobile){
                flex: 0 0 73%;
            }
            &:nth-child(2n+2){
                margin-right: 0;
                @include respond(mobile){
                    margin-right: 3.3%;
                }
            }
            .FlatContent {
                .InfoContainer {
                    padding: 0 1.57rem 1.6rem 1.76rem;
                    position: relative;
                    @include respond(mobile){
                        padding: 0 1.57rem 0 1.17rem;
                    }
                    .Info {
                        .PriceBtnContainer {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            @include respond(mobile){
                                align-items: center;
                            }
                            .BadgeContainer {
                                display: none;
                                @include respond(mobile){
                                    display: flex;
                                    flex-direction: column;
                                    font-size: $smallFontSize;
                                    color: $blackGrey;
                                    p {
                                        line-height: $fontSize32px;;
                                    }
                                }
                            }
                        }
                        .MainInformationContainer {
                            @include respond(mobile) {
                                display: none;
                            }
                        }
                        .AreaContainer {
                            display: none;
                            @include respond(mobile) {
                                display: block;
                                font-size: $mediumFontSize;
                                color: $black2;
                                font-weight: $font-Weight-bold;
                                line-height: $lineHeight28px;
                                margin-bottom: .5rem;
                                font-family: $helveticaNeue;
                            }
                        }
                    }
                }
                .FlatImg {
                    position: relative;
                    
                    .LikeContainer {
                        position: absolute;
                        right: 2.5rem;
                        top:2.5rem;
                        z-index: 1;
                        cursor: pointer;
                        .LikeHover {
                        display: none;
                        width: 2.7rem;
                        height: 2.1rem;
                        padding: 0.3rem;
                        }
                        .Like {
                        width: 2.7rem;
                        height: 2.1rem;
                        padding: 0.3rem;
                        }
                        &:hover .Like{
                        display: none;
                        }
                        &:hover .LikeHover{
                        display: block;
                        }
                    }
                    .BadgeInContent {
                        position: absolute;
                         margin-top: 1.35rem;
                         right:1.57rem ;
                         z-index: 1;
                         @include respond(mobile){
                             display: none;
                         }
                    }
                }
            }
        }
    }