@import "../../../styles/global.scss";
@import "../../../styles/mixins";
    ul {
        .Flat {
            flex: 0 0 48.35%;
            background-color: $white;
            margin-bottom: 2rem;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, 0.125);
            background-color: $white;
            border-radius: 1rem;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
            margin: 0 3.3% 2.5% 0;
            @include respond(mobile){
                flex: 0 0 73%;
                margin-right: 0.64rem;
                margin-left: 0.64rem;
            }
            &:nth-child(2n+2){
                margin-right: 0;
                @include respond(mobile){
                    margin-right: 0.64rem;
                    margin-left: 0.64rem;
                }
            }
            &:hover .FlatContent .InfoContainer .Info .PriceBtnContainer .FlatBtnsContainer {
                visibility: visible;
                opacity: 1;
            }
            .FlatContent {
                .InfoContainer {
                    padding: 0 1.57rem 1.6rem 1.76rem;
                    position: relative;
                    @include respond(mobile){
                        padding: 0 1.57rem 1.4rem 1.17rem;
                        cursor: pointer;
                    }
                    .Info {
                        .PriceBtnContainer {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            @include respond(mobile){
                                align-items: center;
                            }
                            .FlatBtnsContainer {
                                visibility: hidden;
                                opacity: 0;
                                transition: all 0.3s ease-in;
                            }
                            .PriceContainer {
                                display: flex;
                                align-items: baseline;
                                font-size: $fontSize19px;
                                margin-left: 0.14rem;
                                @include respond(mobile){
                                    flex-direction: column;
                                    align-items: flex-end;
                                    font-size: $fontSize18px;
                                }
                                .TotalPrice { 
                                    color: $lightGrey4;   
                                    @include respond(mobile){
                                        font-size: $mediumFontSize;
                                        margin-top: 0.3rem;
                                    }    
                                }
                            }
                            .BadgeContainer {
                                display: flex;
                                flex-direction: column;
                                font-size: $smallFontSize;
                                color: $blackGrey;
                                p {
                                    line-height: $fontSize32px;
                                }
                            }
                        }
                        
                    }
                }
                .FlatImg {
                    position: relative;
                    .BadgeInContent {
                        position: absolute;
                         margin-top: 1.35rem;
                         right:1.57rem ;
                         z-index: 1;
                    }
                }
            }
        }
    }