@import '../../styles/global.scss';
@import '../../styles/mixins';
.FavoriteContainer {
    position: relative;
    font-family: $helveticaNeue;
    display: flex;
    flex-direction: column;
    @include respond (mobile){
        margin-top: 7rem;
    }
    .FavoriteFlats {
        position: relative;
       
    }
    
}