@import "../../../styles/global.scss";
@import "../../../styles/mixins";

.BottomFooter{
    display: flex;
    align-items: center;
    border-top: 1px solid #CBD0D3;
    justify-content: space-between;
    font-size: $fontSize19px;
    color: $black2;
    padding: 1.55rem 15.3rem 1.55rem 10.7rem;
    line-height: $lineHeight36px;
    font-family: $helveticaNeue;
    max-width: 175.428rem;
    margin: 0 auto;
    @include respond(mobile) {
        padding: 2.3rem 1.7rem;
        font-size: $mediumFontSize;
        position: relative;
    }
    .LeftSide{
        @include respond(mobile){
            flex: 1;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        span {
            margin: 0 2rem;
            vertical-align: middle;
            @include respond(mobile){
                display: none;
            }
        }
        a{
            color: $black2;
            text-decoration: none;
            vertical-align: middle;
            @include respond(mobile){
                &:first-child{
                    display: none;
                }
            }
        }
    }
    .RightSide{
        display: flex;
        align-items: center;
        font-size: $largeFontSize;
        @include respond(mobile){
            position: absolute;
            top: -11rem;
            left: 3.2rem;
            width: 70%;
            justify-content: space-between;
        }
        .Euro {
            span {
                font-size: $fontSize13px;
                text-decoration: underline;
                font-weight: $font-Weight-bold;
                margin-left:1.2rem ;
                vertical-align: text-top;
                @include respond(mobile){
                    font-size: $mediumFontSize;
                    vertical-align: middle;
                }
            }
        }
        .Symbols {
            margin-left: 8.6rem;
            line-height: $lineHeight47px;
            span {
                margin-right: 2.6rem;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
   
}