 @import "../../../styles/global.scss";
@import "../../../styles/mixins";
 .LikeContainer {
    position: absolute;
    right: 2.5rem;
    top:2.5rem;
    z-index: 1;
    cursor: pointer;
    @include respond(mobile){
        left: 1.52rem;
        top: 1.84rem;
        right: inherit;
    }
    .LikeHover {
        display: none;
        width: 2.7rem;
        height: 2.1rem;
        padding: 0.3rem;
        position: absolute;
        top: 0;
        right: 0;
        @include respond(mobile){
            width: 3rem;
            height: 2.37rem;
            right: inherit;
        }   
    }
    .Like {
        width: 2.7rem;
        height: 2.1rem;
        padding: 0.3rem;
        @include respond(mobile){
            display: none;
        }    
    }
    .LikeMobile {
        width: 3rem;
        height: 2.37rem;
        display: none;
        padding: 0.3rem;
        @include respond(mobile){
            display: block;
        }
    }
    @media (hover: hover){
        &:hover .Like{
            display: none;
        }
        &:hover .LikeHover{
            display: block;
        }
        &:hover .LikeMobile{
            display: none;
        }
    }
    
}