@import '../../../../styles/mixins';
.BadgeInContent {
    position: absolute;
    margin-top: 1.35rem;
    right:1.4rem ;
    z-index: 1;
    top: 0;
    @include respond(mobile){
        margin-top: 1rem;
    }
}