.rdrCalendarWrapper {
    width: 100%;
    background: transparent!important;
  }
  
  .rdrMonthAndYearWrapper {
    padding-top: 0!important;
    position: relative!important;
    height: 3.83rem!important;
  }
  
  .rdrMonths {
    width: 85.5%!important;
    margin: 0 auto!important;
    justify-content: space-between!important;
  }
  @media (max-width: 675px) {
    .rdrMonths {
      width: 100%!important;
      flex-direction: column!important;
     align-items: center;
    }
}


  
  .rdrMonth {
    /* padding: 0 0.833em 5.49rem 0.833em!important; */
    margin:  0!important;
    background: white!important;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
    border-radius: 3rem;
    position: relative!important;
    padding-left: 3.4rem!important;
    padding-right: 3.4rem!important; 
  }

  @media (max-width: 675px) {
    .rdrMonth {
      width: 80%!important;

    }
  }
  .rdrMonthName {
    text-align: center!important;
      font-size: 2.2rem!important;
      line-height: 5rem!important;
      font-weight: 500!important;
      font-family: Helvetica Neue, Arial, sans-serif!important;
      padding: 0!important;
      color: #343638!important;
      padding: 3.2rem 0!important;
  }
  
  .rdrDay {
      height: 4em!important;
  }
  
  
  .rdrDayNumber span {
    line-height: 3.9rem!important;
    font-family: Helvetica, Arial, sans-serif!important;
    font-size: 1.7rem!important;
  }
  
  .rdrWeekDay {
    font-size: 1.6rem!important;
    line-height: 3.6rem!important;
    font-family: Helvetica, Arial, sans-serif!important;
    color: #909090!important;
  }
  
  
  
  .rdrDayToday .rdrDayNumber span:after {
   display: none!important;
  }
  
  .rdrInRange {
    background: #F0F0F0!important;
   
  }
 
  .rdrDayDisabled {
    background-color: transparent!important;
    opacity: 0.5!important;
}
  .rdrStartEdge {
    background: #F0F0F0!important;
    left: 3px!important;
  }
  
  .rdrEndEdge {
    background: #F0F0F0!important;
    right: 3px!important;
    border-top-right-radius: 50%!important;
    border-bottom-right-radius: 50%!important;
  }
  
  .rdrMonthAndYearPickers {
    display: none!important;
  }
  
  .rdrPprevButton i, .rdrNextButton i   {
    display: none!important;
  }
  
  .rdrNextPrevButton {
    background-color: transparent!important;
  }
  
  .rdrPprevButton {
    background-image: url("../assets/images/arrow.svg")!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    margin-left: 16%!important;
    position: absolute!important;
    top: 220%!important;
    z-index: 101!important;
    
  }
  
  .rdrNextButton {
    background-image: url("../assets/images/arrowNext.svg")!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    margin-right: 16%!important;
    position: absolute!important;
    top: 220%!important;
    z-index: 101!important;
    right: 0!important;
    
  }
  
  .rdrDateDisplayWrapper {
    display: none!important;
  }
  
  .rdrDayPassive {
    visibility: hidden!important;
}
  
  
  .rdrDayNumber span {
    color: black!important;
  }
  .rdrStartEdge ~ .rdrDayNumber span {
    color: white!important;
    font-size: 2.2rem!important;
    line-height: 5rem!important;
    font-family: Helvetica Neue, Arial, sans-serif!important;
        
  }
  .rdrStartEdge ~ .rdrDayNumber  {
        background: black!important;
        border-radius: 50%!important;
        left: 4px!important;
        right: 4px!important;
  }
 
  .rdrEndEdge ~ .rdrDayNumber span {
    color: white!important;
    font-size: 2.2rem!important;
    line-height: 5rem!important;
    font-family: Helvetica Neue, Arial, sans-serif!important;
  }

  .rdrEndEdge ~ .rdrDayNumber  {
    background: black!important;
    border-radius: 50%!important;
    left: 4px!important;
    right: 4px!important;
}
