@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
//Fonts

//Colors
$black3: #4c4c4c;
$veryLightBlue: #189ed9;
$disableBtn: #d5d5d5;
//Color from Design
$fontColor: #1d1a13;
$black: #202124;
$black2: #343638;
$blackGrey: #717171;
$grey: #909090;
$lightGrey: #909090;
$lightGrey2: #ebeded;
$lightGrey3: #efefef;
$lightGrey4: #92979d;
$lightGrey5: #f0f0f0;
$lightGrey6: #cbd0d3;
$lightBlue: #4d94e8;
$orange: #ffc96c;
$red: #ff4d4d;
$lightGreen: #2da348;
$lightRed: #fa6980;
$white: #ffffff;

//Font Sizes
$fontSize64px: 6.4rem;
$fontSize38px: 3.8rem;
$titleSizeFont: 3.5rem;
$smallTitleFont: 2.8rem;
$fontSize27px: 2.7rem;
$largeFontSize2: 2.6rem;
$largeFontSize: 2.5rem;
$fontSize33px: 3.3rem;
$fontSize32px: 3.2rem;
$fontSize30px: 3rem;
$fontSize26px: 2.6rem;
$fontSize25px: 2.5rem;
$fontSize23px: 2.3rem;
$fontSize22px: 2.2rem;
$fontSize21px: 2.1rem;
$fontSize20px: 2rem;
$fontSize19px: 1.9rem;
$fontSize18px: 1.8rem;
$fontSize17px: 1.7rem;
$mediumFontSize: 1.6rem;
$smallerMediumFont: 1.5rem;
$smallFontSize: 1.4rem;
$fontSize13px: 1.3rem;
$fontSize12px: 1.2rem;

// Font weights
$font-Weight-light: 300;
$font-Weight-regular: 400;
$font-Weight-medium: 500;
$font-Weight-semiBold: 600;

$font-Weight-bold: bold;
$font-Weight-extraBold: 800;
// Line-Heights
$navLineHeight: 5rem;
$textLineHeight: 1.5;
$lineHeight80px: 8rem;
$lineHeight49px: 4.9rem;
$lineHeight47px: 4.7rem;
$lineHeight46px: 4.6rem;
$lineHeight43px: 4.3rem;
$lineHeight41px: 4.1rem;
$lineHeight36px: 3.6rem;
$lineHeight35px: 3.5rem;
$lineHeight34px: 3.4rem;
$lineHeight31px: 3.1rem;
$lineHeight30px: 3rem;
$lineHeight28px: 2.8rem;
$lineHeight27px: 2.7rem;
$lineHeight26px: 2.6rem;
$lineHeight25px: 2.5rem;
$lineHeight24px: 2.4rem;
$lineHeight22px: 2.2rem;
$lineHeight21px: 2.1rem;
$lineHeight20px: 2rem;
$lineHeight19px: 1.9rem;
$lineHeight17px: 1.7rem;
$lineHeight15px: 1.5rem;

//Font Family
$workSans: Helvetica, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: Helvetica Neue, Arial, sans-serif;
$roboto: "Roboto", sans-serif;

// Small tablets and large smartphones (landscape view)
$mobileFilter: 485px;
$mobile: 675px;
$tablet-laptop: 1000px;
$laptop: 1660px;
~