//Fonts

//Colors
$black3: #4c4c4c;
$veryLightBlue: #189ed9;

//Color from Design
$fontColor: #1D1A13;
$black: #202124;
$black2: #343638;
$blackGrey: #717171;
$grey: #909090;
$lightGrey: #909090;
$lightGrey2: #EBEDED;
$lightBlue: #4D94E8;
$orange: #ffc96c;
$red: #ff4d4d;
$lightGreen: #2da348;
$lightRed: #fa6980;
$white: #FFFFFF;

//Font Sizes
$fontSize64px: 6.4rem;
$titleSizeFont: 3.5rem;
$smallTitleFont: 2.8rem;
$largeFontSize2: 2.6rem;
$largeFontSize: 2.5rem;
$fontSize23px: 2.3rem;
$fontSize20px: 2rem;
$fontSize19px: 1.9rem;
$fontSize18px: 1.8rem;
$mediumFontSize: 1.6rem;
$smallerMediumFont: 1.5rem;
$smallFontSize: 1.4rem;

// Font weights
$font-Weight-light: 300;
$font-Weight-regular: 400;
$font-Weight-medium: 500;
$font-Weight-semiBold: 600;

$font-Weight-bold: bold;
$font-Weight-extraBold: 800;
// Line-Heights
$navLineHeight: 5rem;
$textLineHeight: 1.5;
$lineHeight80px: 8rem;
$lineHeight36px: 3.6rem;
$lineHeight30px: 3rem;
$lineHeight20px: 2rem;


//Font Family
$workSans: Helvetica, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: Helvetica Neue, Arial, sans-serif;