@import "../../../styles/global.scss";
@import "../../../styles/mixins";
.Btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  img {
    vertical-align: middle;
  }
  &.Blue {
    background-color: $lightBlue;
  }
  &.Orange {
    background-color: $orange2;
  }
  &.Red {
    background-color: $red2;
  }
  &.Black {
    background-color: $black;
  }
  &.White {
    background-color: $white;
  }
  &.Grey {
    background-color: $lightGrey3;
  }
  &.LightGrey {
    background-color: $lightGrey2;
  }
}
.FlatInfo {
  font-family: $roboto;
  color: $white;
  border-radius: 2.2rem;
  font-weight: $font-Weight-bold;
  font-size: $fontSize21px;
  line-height: $lineHeight35px;
  padding: 0.2rem 1.92rem;
  @include respond(mobile) {
    font-size: $fontSize18px;
    line-height: $lineHeight25px;
    padding: 0.75rem 1.69rem;
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
    color: $white;
  }
}
%shared-filterBtn-inside {
  font-size: $fontSize22px;
  font-weight: $font-Weight-bold;
  line-height: $lineHeight34px;
  font-family: $helvetica;
  padding: 0.6rem 2.38rem;
  @include respond(mobile) {
    line-height: $lineHeight36px;
    font-size: $smallerMediumFont;
    padding: 0.05rem 3.25rem;
  }
}
.ClearFilter {
  @extend %shared-filterBtn-inside;
  color: $lightGrey4;
}
.SaveFilter {
  @extend %shared-filterBtn-inside;
  color: $white;
  border-radius: 1.1rem;
}

.OpenFilter {
  border-radius: 50%;
  padding: 1.85rem 1.86rem;
  @include respond(mobile) {
    padding: 1.23rem;
    img {
      width: 1.85rem;
      height: 1.85rem;
    }
  }
}
.CloseFilter {
  border-radius: 50%;
  padding: 2.2rem 2.21rem;
  @include respond(mobile) {
    background: transparent !important;
    padding: 0;
    img {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  span {
    display: none;
    @include respond(mobile) {
      font-size: $smallerMediumFont;
      font-weight: $font-Weight-bold;
      vertical-align: middle;
      margin-left: 0.9rem;
      line-height: $lineHeight36px;
      display: inline-block;
    }
  }
}
.MobileSecondaryNavFavorite {
  padding: 1.28rem 0.8rem 0.9rem 0.8rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  img {
    width: 2.7rem;
    height: 2.13rem;
  }
}
.PcFavoriteNavActive {
  border-radius: 50%;
  padding: 1.7rem 1.2rem 1.4rem 1.2rem;
  img {
    width: 3.6rem;
    height: 2.8rem;
  }
  p {
    position: absolute;
    font-size: $fontSize20px;
    font-weight: $font-Weight-bold;
    line-height: $lineHeight36px;
    font-family: $helvetica;
    top: 0rem;
    right: 1.6rem;
  }
}
.PcFavoriteNav {
  padding: 1.7rem 1.2rem 1.4rem 1.2rem;
  img {
    width: 3.6rem;
    // height: 2.8rem;
    height: 2.843rem;
  }
}
.MyBookingMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
}
%shared-counter-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  @include respond(mobile) {
    width: 3.6rem;
    height: 3.6rem;
    img {
      width: 1.7rem;
    }
  }
  &:disabled img {
    opacity: 0.4;
  }
}
.FilterRoomsAndBedsCounter {
  @extend %shared-counter-btns;
  background-color: transparent;
  border: 1.5px solid $lightGrey4;
  &:disabled {
    background-color: transparent;
    border-color: $disableBtn;
    cursor: default;
  }
}
.MainGuestCounter {
  @extend %shared-counter-btns;
  border: none;
  &:disabled {
    background-color: transparent;
    border: 1.5px solid $disableBtn;
    cursor: default;
  }
}
